.carousel-wrapper {
  overflow: hidden;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  background: transparent;
  padding: 50px 0;
  box-sizing: border-box;
}

.carousel-track {
  display: flex;
  gap: 10px;
  width: calc(179px * 28 + 10px * 27); 
  animation: scrollLeft 30s linear infinite;
}

.carousel-item {
  flex: 0 0 auto;
  width: 150px;
  height: 150px;
  mix-blend-mode: difference;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  overflow: hidden;
  position: relative;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  user-select: none;
  pointer-events: none;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50%));
  }
}
